<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
   <h2>Login</h2>

   <form action="/login" method="post">
        {{ csrfField() }}
        <div>
            <label for="email"></label>
            <input type="email" id="email" name='email'>
            @if(flashMessages.has('errors.email'))
                <small>{{ flashMessages.get('errors.email') }}</small>
            @endif
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name='password'>
            @if(flashMessages.has('errors.password'))
                <small>{{ flashMessages.get('errors.password') }}</small>
            @endif
        </div>
        <div>
            <input type="submit" value="Sign Up" >
        </div>
    </form>

</body>
</html>