@layout('layouts/app')

@section('content')
    <section>
      <div>
        <h1> It Works! </h1>
        @if(auth.isAuthenticated)
        <h1> {{auth.user.name}} </h1>
        <form action="/logout" method="post">
          {{ csrfField() }}
          <button type="submit">LogOut</button>
        </form>
        @else 
        <a href="/login">Login</a>
        @endif
      </div>
  </section>
@endsection
